html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    min-height: 100vh;
}

#site {
  height: 100vh;
  overflow: auto;
}

// scrollbar

.os-theme-body {
    --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
    background: $alpha;
    border-radius: 0px;
    height: 85px;
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}
