
/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$c1 : #f0ad4e;
$c2 : #f7f7f7;
$c3 : #292b2c;
